body {
  background-color: #142F40;
}

.misson-section, .startgy-section {
  padding: 3rem 8rem;
  text-align: center;
}
.misson-section .t, .startgy-section .t {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  text-align: center;
  border: 2px dashed #0FF2DB;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.misson-section .t h2, .startgy-section .t h2 {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.misson-section .container-misson, .startgy-section .container-misson {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 15rem 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15rem;
}
.misson-section .container-misson .number, .startgy-section .container-misson .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 6rem;
  height: 6rem;
  border: 2px dashed #0FF2DB;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.misson-section .container-misson .misson, .misson-section .container-misson .startgy, .startgy-section .container-misson .misson, .startgy-section .container-misson .startgy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.misson-section .container-misson .misson h3, .misson-section .container-misson .startgy h3, .startgy-section .container-misson .misson h3, .startgy-section .container-misson .startgy h3 {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.misson-section .container-misson .misson p, .misson-section .container-misson .startgy p, .startgy-section .container-misson .misson p, .startgy-section .container-misson .startgy p {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
}