*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

/* Set core body defaults */
body {
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

ul[role=list],
ol[role=list], ul, ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: inherit;
  text-decoration: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background-color: #0D1925;
  overflow-x: hidden;
}

/*Header Section*/
.header-section {
  padding: 0rem 4rem;
  height: 8rem;
  position: relative;
  background-color: #142F40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0rem;
}
.header-section .logo {
  width: 11rem;
  height: 3rem;
}
.header-section .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 4rem;
}
.header-section .nav-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
  color: #FFFFFF;
  font-size: 1.8rem;
  font-weight: 500;
}
.header-section .nav-bar ul li:hover {
  color: #79C7D9;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
.header-section .btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.header-section .mobile-open,
.header-section .mobile-close {
  height: 2rem;
  width: 2rem;
  color: #79C7D9;
}
.header-section .mobile-open i,
.header-section .mobile-close i {
  font-size: 4rem;
}
.header-section .mobile-close {
  display: none;
}
.header-section .btn {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.header-section .btn-lang {
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: 700;
}

/*Hero Section*/
.hero-section {
  padding: 10rem 4rem;
  background-color: rgba(19, 47, 64, 0.5);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 7rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7rem;
}
.hero-section .text-hero-section {
  padding: 0 3rem;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}
.hero-section .text-hero-section h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 4.5rem;
}
.hero-section .text-hero-section p {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}
.hero-section .text-hero-section .btn {
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 1rem 3rem;
  background-color: #0D1925;
  color: #FFFFFF;
  border-radius: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
.hero-section .text-hero-section .btn:hover {
  color: #0D1925;
  background-color: #FFFFFF;
}
.hero-section .img-hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero-section .img-hero-section .img-hr {
  width: 100%;
  border-radius: 1.5rem;
}

/*Our Vision Section*/
.our-vision {
  overflow: hidden;
  padding: 8rem 6rem;
  /*Heading of the section*/
  /* IMAGE VISION CONTAINER */
}
.our-vision h1 {
  /*Heading of the section*/
  margin-bottom: 6rem;
  text-align: center;
  color: #0FF2DB;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3.4rem;
}
.our-vision .our-vision-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 7rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.our-vision .our-vision-container h2 {
  color: #FFFFFF;
  margin-bottom: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 3.4rem;
}
.our-vision .our-vision-container p {
  color: #FFFFFF;
  font-size: 1.5rem;
  margin: 4rem 0;
}
.our-vision .our-vision-container .btn-more {
  background-color: rgba(19, 47, 64, 0.5);
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  padding: 1rem 2rem;
  border-radius: 1rem;
  color: rgba(252, 248, 248, 0.9803921569);
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
}
.our-vision .our-vision-container .btn-more:hover {
  background-color: #0FF2DB;
  color: #0D1925;
}
.our-vision .image-vision-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}
.our-vision .image-vision-container .hex-1 {
  background: url("../Images/WhatsApp Image 2023-08-25 at 9.00.20 PM (1).jpeg");
}
.our-vision .image-vision-container .hex-2 {
  background: url("../Images/DreamShaper_v5_Imaginary_images_expressive_of_quantum_computin_2.jpg");
}
.our-vision .image-vision-container .hex-3 {
  background: url("../Images/WhatsApp Image 2023-08-25 at 9.01.36 PM (1).jpeg");
  margin-top: -5rem;
}
.our-vision .image-vision-container .hex-1,
.our-vision .image-vision-container .hex-2,
.our-vision .image-vision-container .hex-3 {
  width: calc(50% - 1rem);
  height: 21rem;
  -webkit-clip-path: polygon(50% 100%, 100% 75%, 100% 25%, 50% 0%, 0.21% 25%, 0.21% 74.58%);
          clip-path: polygon(50% 100%, 100% 75%, 100% 25%, 50% 0%, 0.21% 25%, 0.21% 74.58%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.our-team {
  padding: 8rem 6rem;
}
.our-team h1 {
  /*Heading of the section*/
  margin-bottom: 6rem;
  text-align: center;
  color: #0FF2DB;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3.4rem;
}
.our-team .our-team-contanier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 9rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.our-team .our-team-contanier .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #FFFFFF;
  font-size: 1.8rem;
  text-align: center;
}
.our-team .our-team-contanier .person img {
  width: 6rem;
  border-radius: 50%;
}
.our-team .our-team-contanier .person .social {
  margin-top: 3rem;
  font-size: 3rem;
}
.our-team .our-team-contanier .person .social .fa-brands {
  margin-right: 1rem;
}
.our-team .our-team-contanier .person .social .fa-twitter {
  color: #1DA1F2;
}
.our-team .our-team-contanier .person .social .fa-facebook {
  color: #4267B2;
}

.our-meetings {
  padding: 8rem 6rem;
  background-color: rgba(20, 47, 64, 0.5);
  text-align: center;
}
.our-meetings h1 {
  /*Heading of the section*/
  margin-bottom: 6rem;
  text-align: center;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3.4rem;
}
.our-meetings .no-start {
  margin: auto;
  width: 70%;
}
.our-meetings .no-start .no-meetings {
  color: #0FF2DB;
  font-size: 2.8rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.our-meetings .no-start .follow-us {
  padding: 2rem 10rem;
  color: #85E7F2;
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.our-meetings .no-start .social-links {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
  color: #1DA1F2;
  font-size: 3rem;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.our-meetings .no-start .social-links i:hover {
  color: #1d92db;
}
.our-meetings .no-start .social-links .fa-location-dot {
  display: none;
}
.our-meetings table {
  display: none;
  text-align: center;
  border-collapse: separate;
  overflow: hidden;
  border: 1px solid #51868C;
  border-spacing: 0px;
  border-radius: 1em;
  margin: auto;
  /* top-right border-radius */
  /* bottom-left border-radius */
  /* bottom-right border-radius */
}
.our-meetings table td,
.our-meetings table th {
  padding: 1rem;
  border-top: 1px solid #79C7D9;
  border-right: 1px solid #85E7F2;
}
.our-meetings table thead th {
  color: #FFFFFF;
  padding: 2rem 4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2.8rem;
  border-top: none;
}
.our-meetings table thead th:first-child {
  padding-inline: 1rem;
}
.our-meetings table thead th:last-child {
  width: 40%;
  border-right: none;
}
.our-meetings table .online,
.our-meetings table .offline {
  padding: 0.5rem 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
}
.our-meetings table .online {
  border-radius: 1.5rem;
  background-color: #51868C;
  color: #FFFFFF;
}
.our-meetings table .offline {
  border-radius: 1.5rem;
  background-color: #51868C;
  color: #FFFFFF;
}
.our-meetings table tr td {
  color: #79C7D9;
  padding: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2rem;
}
.our-meetings table tr td:last-child {
  border-right: none;
  text-align: left;
}
.our-meetings table tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
.our-meetings table tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
.our-meetings table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
.our-meetings table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

footer {
  padding: 4rem 6rem;
}
footer .logo {
  height: 8rem;
  width: 11rem;
}
footer .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 4rem 1fr 4rem 1fr;
  grid-template-columns: 2fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4rem;
}
footer .container .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3rem;
  color: #1DA1F2;
  font-size: 3rem;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
footer .container .social-links i:hover {
  color: #1d92db;
}
footer .container .social-links .fa-location-dot {
  display: none;
}
footer .container .logo-col {
  padding-right: 10rem;
}
footer .container .logo-col p {
  margin: 3rem 0;
  color: #FFFFFF;
  font-size: 1.2rem;
  font-weight: 400;
}
footer .container .footer-heading {
  margin-bottom: 4rem;
  color: #51868C;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
}
footer .container .nav-col .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
  color: #51868C;
  font-weight: 400;
  font-size: 1.5rem;
}

@media (max-width: 72em) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 60em) {
  html {
    font-size: 45%;
  }
}
@media (max-width: 45em) {
  html {
    font-size: 40%;
  }
  .hero-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 7rem;
  }
  .our-meetings .no-start {
    width: 90%;
  }
}
@media (max-width: 34em) {
  html {
    font-size: 38%;
  }
  .our-team {
    padding: 4rem 3rem;
  }
  .our-team .our-team-contanier {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 5rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 30em) {
  html {
    font-size: 38%;
  }
  .our-vision {
    padding: 4rem 3rem;
  }
  .our-vision .our-vision-container {
    gap: 6rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .our-team {
    padding: 4rem 3rem;
  }
  .our-team .our-team-contanier {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 5rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  /* MOBILE NAV */
  .header-section .btn-mobile-nav {
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-section .nav-bar {
    position: absolute;
    background: #132F40;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    color: #0E1133;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  /* HAMBURGER NAV OPEN */
  .nav-open .nav-bar {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
  .nav-open .mobile-close {
    visibility: visible;
    display: block;
    z-index: 1000000;
  }
  .nav-open .mobile-open {
    display: none;
  }
  .mobile-close,
  .mobile-open {
    font-size: 2.4rem;
  }
  .btn-mobile-nav:focus {
    background: none;
    cursor: pointer;
  }
  .our-meetings .no-start {
    width: 100%;
  }
}
@media (max-width: 28em) {
  html {
    font-size: 35%;
  }
}
@media (max-width: 23em) {
  html {
    font-size: 33%;
  }
  .our-meetings {
    padding: 4rem 3rem;
  }
}
@media (max-width: 19.5em) {
  .our-meetings table thead th {
    padding: 1rem 2rem;
  }
  .our-meetings table thead th:last-child {
    width: 20%;
  }
  footer {
    padding: 2rem 6rem;
  }
  footer .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}