// base color
$base-color: #0D1925;

// Fonts color
$font-color-1:#FFFFFF;
$font-color-2:#51868C; // Footer color
$font-color-3:#0FF2DB;
$font-color-4:#79C7D9; // our-meetings color
$font-color-5:#D9D9D9;
$font-color-6:#eeeeee;
$font-color-7:#cccccc;
$font-color-8:#fcf8f8fa;

$font-color-placeholder: #575757;


// sections colors
$color-section-1: #132F40;
$color-section-2: #85E7F2;

// Icons Color 
$icon-twitter-hover: #1d92db;

$icon-twitter: #1DA1F2;
$icon-facebook: #4267B2;

// Color general used 
$color-g-1: #51868C;
$color-g-2: #132F40;
$color-g-3: #142F40;
$color-g-4:#0FF2DB;
$color-g-5:#79C7D9; // our-meetings color
$color-g-6:#85E7F2;