*,*::after,*::before {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
}

/* Set core body defaults */
body {
    line-height: 1.5;
    // min-height: 100vh;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  ul[role="list"],
  ol[role="list"],ul,ol {
    list-style: none;
  }

  



/* A elements that don't have a class get default styles */

a{
  text-decoration-skip-ink: auto;
  color: inherit;
  text-decoration: none;
}



/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
  scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}