
@use "./colors" as cl;
@use "./functions" as fn;

body {
    background-color: #142F40;
}

.misson-section,.startgy-section {
    padding: 3rem 8rem;
    text-align: center;

    .t {
        width: fit-content;
        height: 15rem;
        width: 15rem;
        border-radius: 50%;
        text-align: center;
        border: 2px dashed cl.$color-g-4;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;

        h2 {
            text-align: center;
            padding: 1rem;

            font: {
                size: 2rem;
                weight: 500;
                family: 'Montserrat', sans-serif;

            }

            ;
        }

    }

    .container-misson {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        gap: 15rem;

        .number {
            display: flex;
            align-items: center;


            justify-content: center;
            // width: fit-content;
            // padding: 2rem;
            width: 6rem;
            height: 6rem;
            border: 2px dashed cl.$color-g-4;
            border-radius: 50%;
            color: #fff;
            text-align: center;

            font: {
                size: 2rem;
                weight: 500;
                family: 'Montserrat', sans-serif;

            }

            ;
        }

        .misson,.startgy {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            align-items: center;
            justify-content: center;

            h3 {
                color: #fff;

                font: {
                    size: 2rem;
                    weight: 600;
                    family: 'Montserrat', sans-serif;
                }

                ;

            }

            p {
                color: #fff;

                font: {
                    size: 1.4rem;
                    weight: 500;
                    family: 'Open Sans', sans-serif;
                }

                ;
            }
        }
    }
}