@forward "./global";
@use "./colors" as cl;
@use "./functions" as fn;

@mixin flex-center($gap: 0, $dir: row) {
    display: flex;
    flex-direction: $dir;
    align-items: center;
    justify-content: center;
    gap: #{$gap}rem;
    flex-wrap: wrap;

}

@mixin flex-($gap: 0, $dir: row) {
    display: flex;
    flex-direction: $dir;
    align-items: flex-start;
    justify-content: center;
    gap: #{$gap}rem;
}

@mixin flex-header($gap: 0) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: #{$gap}rem;
}

@mixin grid-hero($gap: 0, $dir: 2, $unit: rem) {
    display: grid;
    grid-template-columns: repeat($dir , 1fr);
    align-items: center;
    justify-content: center;
    gap: #{$gap}#{$unit};
}

@mixin btn-general($color: transparent) {
    border: none;
    cursor: pointer;
    background-color: $color;
}

@mixin hexogen($width, $height) {
    width: #{$width}rem;
    height:#{$height}rem;
    clip-path: polygon(50% 100%, 100% 75%, 100% 25%, 50% 0%, 0.21% 25%, 0.21% 74.58%);
}

@mixin tag($color-bg, $color-fn, $hover-bg-color: $color-bg, $color-fn-hover: $color-fn, $radius: 1.5rem, $hv: false, $transation-time: 0.2s) {
    border-radius: $radius;
    background-color: $color-bg;
    color: $color-fn;

    @if $hv {
        transition: $transation-time all ease-in-out;

        &:hover {
            background-color: $color-fn-hover;
            color: $color-fn-hover;
        }
    }

}

@mixin title-of-sections($color:cl.$font-color-1) {
    /*Heading of the section*/
    margin-bottom: 6rem;
    text-align: center;
    color: $color;

    font: {
        family: 'Montserrat', sans-serif;
        weight: 700;
        size: 3.4rem;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-color: cl.$base-color;
    overflow-x: hidden;
}

/*Header Section*/
.header-section {
    padding: 0rem 4rem;
    height: 8rem;
    position: relative;
    background-color: cl.$color-g-3;

    @include flex-header;

    .logo {
        width: 11rem;
        height: 3rem;
    }

    .nav-bar {
        @include flex-header(4);

        ul {
            @include flex-header(2);
            color: cl.$font-color-1;
            font-size: 1.8rem;
            font-weight: 500;

            li:hover {
                color: cl.$color-g-5;
                transition: 0.2s all ease-in-out
            }
        }


    }
    .btn-mobile-nav {
        border: none;
        background: none;
        cursor: pointer;
        display: none;
    }

    .mobile-open,
.mobile-close {
    i {
        font-size: 4rem;
    }
    height: 2rem;
    width: 2rem;
    color:cl.$color-g-5;
}

.mobile-close{
    display: none;
}
    .btn {
        @include btn-general;
    }

    .btn-lang {
        color: cl.$font-color-1;
        font: {
            size: 2rem;
            weight: 700;
        };
    }
}

/*Hero Section*/

.hero-section {
    // max-width: 130rem;
    // width: 100vw;
    padding: 10rem 4rem;
    background-color: rgb(cl.$color-g-2, 50%);
    @include grid-hero(7, 2);

    .text-hero-section {
        padding: 0 3rem;
        color: cl.$font-color-1;
        @include flex-(2, column);

        h1 {
            font: {
                family: 'Montserrat', sans-serif;
                weight: 600;
                size: 4.5rem;
            }
        }

        p {
            font-size: 1.5rem;
            margin-bottom: 3rem;
        }

        .btn {
            @include btn-general;
            padding: 1rem 3rem;
            background-color: cl.$base-color;
            color: cl.$font-color-1;
            border-radius: 1.5rem;

            font: {
                family: 'Montserrat', sans-serif;
                weight: 700;
                size: 1.8rem;
            }

            &:hover {
                color: cl.$base-color;
                background-color: cl.$font-color-1;
            }

            transition: 0.2s all ease-in-out;
        }

    }
    .img-hero-section {
        display: flex;
        align-items: center;
        justify-content: center;

        .img-hr {
            width: 100%;
            border-radius: 1.5rem;
        }
    }
}


/*Our Vision Section*/

.our-vision {
    overflow: hidden;
    padding: 8rem 6rem;

    /*Heading of the section*/
    h1 {
        @include title-of-sections(cl.$color-g-4);
    }

    .our-vision-container {
        @include grid-hero(7, 2);
        align-items: flex-start;

        h2 {
            color: cl.$font-color-1;
            margin-bottom: 3rem;

            font: {
                family: 'Montserrat', sans-serif;
                weight: 600;
                size: 3.4rem;
            }
        }

        p {
            color: cl.$font-color-1;
            font-size: 1.5rem;
            margin: 4rem 0 ;
        }

        .btn-more {
            // background-color: cl.$color-g-5;
            background-color: rgb(cl.$color-g-2, 50%);
            transition: 0.2s all ease-in-out;
            padding: 1rem 2rem;
            border-radius: 1rem;
            color: cl.$font-color-8;
            cursor: pointer;

            font: {
                family: 'Montserrat', sans-serif;
                weight: 600;
                size: 1.8rem;
            }

            &:hover {
                background-color: cl.$color-g-4;
                color: cl.$base-color;
            }

        }

    }

    /* IMAGE VISION CONTAINER */
    .image-vision-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .hex-1 {
            background: url("../Images/WhatsApp Image 2023-08-25 at 9.00.20 PM (1).jpeg");
        }

        .hex-2 {
            background: url("../Images/DreamShaper_v5_Imaginary_images_expressive_of_quantum_computin_2.jpg");
        }

        .hex-3 {
            background: url("../Images/WhatsApp Image 2023-08-25 at 9.01.36 PM (1).jpeg");
            margin-top: -5rem;
        }

        .hex-1,
        .hex-2,
        .hex-3 {
            // @include hexogen(18, 21);
            width: calc(50% - 1rem);
            height: 21rem;
            clip-path: polygon(50% 100%, 100% 75%, 100% 25%, 50% 0%, 0.21% 25%, 0.21% 74.58%);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

    }
}


.our-team {
    padding: 8rem 6rem;

    h1 {
        @include title-of-sections(cl.$color-g-4);
    }

    .our-team-contanier {
        @include flex-center(9, );

        .person {
            @include flex-center(1, column);
            color: cl.$font-color-1;
            font-size: 1.8rem;
            text-align: center;

            img {
                // height: 6rem;
                @include fn.circle(6, rem);
            }

            .social {
                margin-top: 3rem;
                font-size: 3rem;

                .fa-brands {
                    margin-right: 1rem;
                }

                .fa-twitter {
                    color: cl.$icon-twitter;
                }

                .fa-facebook {
                    color: cl.$icon-facebook;
                }
            }
        }
    }
}


.our-meetings {
    padding: 8rem 6rem;
    background-color: rgb(cl.$color-g-3, 50%);

    h1 {
        @include title-of-sections();
    }
    text-align: center;

    // div {
    //     margin-top: 1rem;
    //     padding: 2rem;
    //     position: relative;
    // }
    .no-start{
        margin: auto;
        width: 70%;
        .no-meetings {
            color: cl.$color-g-4;

            font: {
                size:2.8rem;
                weight:700;
                family: 'Montserrat', sans-serif;
            };
        }

        .follow-us {
            padding: 2rem 10rem;
            color: cl.$color-g-6;
            font: {
                size:1.8rem;
                weight:700;
                family: 'Montserrat', sans-serif;
            };


        }
        .social-links {
            margin-top: 4rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        color: cl.$icon-twitter;
        font-size: 3rem;
        transition: 0.3s all ease-in-out;
        i:hover {
            color: cl.$icon-twitter-hover;
        }
        .fa-location-dot {
            display: none;
        }
    }
    }

    table {
        display: none;
        text-align: center;
        border-collapse: separate;
        overflow: hidden;
        border: 1px solid cl.$color-g-1 ;
        border-spacing: 0px;
        border-radius: 1em;
        margin: auto;

        td,
        th {
            padding: 1rem;
            border-top: 1px solid cl.$color-g-5 ;
            border-right: 1px solid cl.$color-g-6;
        }

        thead th {
            color: cl.$font-color-1;
            padding: 2rem 4rem;

            font: {
                family: 'Montserrat', sans-serif;
                weight: 600;
                size: 2.8rem;
            }

            border-top: none;

            &:first-child {
                padding-inline: 1rem;

            }

            &:last-child {
                width: 40%;
                border-right: none;
            }

        }


        .online,
        .offline {
            padding: 0.5rem 1rem;

            font: {
                family: 'Montserrat', sans-serif;
                weight: 500;
                size: 1.8rem;
            }
        }

        .online {
            @include tag(cl.$color-g-1, cl.$font-color-1);
        }

        .offline {

            @include tag(cl.$color-g-1, cl.$font-color-1);
        }


        tr {
            td {
                color: cl.$font-color-4;
                padding: 2rem;

                font: {
                    family: 'Montserrat', sans-serif;
                    weight: 600;
                    size: 2rem;
                }

                &:last-child {
                    border-right: none;
                    text-align: left;
                }
            }
        }

        & tr:first-child th:first-child {
            border-top-left-radius: 6px;
        }

        /* top-right border-radius */
        & tr:first-child th:last-child {
            border-top-right-radius: 6px;
        }

        /* bottom-left border-radius */
        & tr:last-child td:first-child {
            border-bottom-left-radius: 6px;
        }

        /* bottom-right border-radius */
        & tr:last-child td:last-child {
            border-bottom-right-radius: 6px;
        }
    }
}


footer {
    padding: 4rem 6rem;
    .logo {
        height: 8rem;
        width: 11rem;
    }
    .container {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr ;
        align-items: center;
        justify-content: center;
        gap: 4rem;

        .social-links {
            display: flex;
            flex-direction: row;
            gap: 3rem;
            color: cl.$icon-twitter;
            font-size: 3rem;
            transition: 0.3s all ease-in-out;
            i:hover {
                color: cl.$icon-twitter-hover;
            }
            .fa-location-dot {
                display: none;
            }
        }
        .logo-col {
            padding-right: 10rem ;
            p {
                margin: 3rem 0;
                color: cl.$font-color-1;
                font-size: 1.2rem;
                font-weight: 400;
            }
        }
        .footer-heading {
            margin-bottom: 4rem;
            color: cl.$font-color-2;
            font: {
                family: 'Montserrat', sans-serif;
                weight:700;
                size: 1.8rem;

            };
        }
        .nav-col {

            .footer-nav {
                display: flex;
                flex-direction: column;
                gap: 2.4rem;
                color: cl.$font-color-2;
                font: {
                    weight:400;
                    size: 1.5rem;

                };
            }
        }
    }

}


@media (max-width: 72em) {
    html {
        font-size: 55%;
    }
}
@media (max-width: 60em) {
    html {
        font-size: 45%;
    }
}

@media (max-width: 45em) {
    html {
        font-size: 40%;
    }
    .hero-section{   @include grid-hero(7, 1);}
    .our-meetings {
        .no-start {
            width: 90%;
        }
    }

}


@media (max-width: 34em) {
    html {
        font-size: 38%;
    }
.our-team {

    padding: 4rem 3rem;
    .our-team-contanier {
        @include flex-center(5, );

    }
}


}


@media (max-width: 30em) {
    html {
        font-size: 38%;
    }
    .our-vision {

        padding: 4rem 3rem;
        .our-vision-container {
            gap: 6rem;
            grid-template-columns: 1fr;
    }}
.our-team {

    padding: 4rem 3rem;
    .our-team-contanier {
        @include flex-center(5, );

    }
}

    /* MOBILE NAV */
    .header-section
    .btn-mobile-nav {
        border: none;
        display: flex;
    }

    .header-section .nav-bar {
        position: absolute;
        background: cl.$color-g-2;
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        color: #0E1133;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: all 200ms ease-in;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
 /* HAMBURGER NAV OPEN */
.nav-open .nav-bar {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.nav-open .mobile-close {
    visibility: visible;
    display: block;
    z-index: 1000000;
}

.nav-open .mobile-open {
    display: none;
}

    .mobile-close,
    .mobile-open{
        font-size: 2.4rem;
    }
.btn-mobile-nav:focus {
    background: none;
    cursor: pointer;
}

// .nav-open .nav-bar .btn {
//     display: none;
// }

.our-meetings {
    .no-start {
        width: 100%;
    }
}
}


@media (max-width:28em) {
    html {
        font-size: 35%;
    }
}

@media (max-width:23em) {
    html {
        font-size: 33%;
    }

    .our-meetings {
        padding: 4rem 3rem;

    }
}

@media (max-width: 19.5em){


    .our-meetings {
        table {
            thead th {
                padding: 1rem 2rem;
                // &:first-child {
                //     padding-inline: 1rem;
    
                // }
    
                &:last-child {
                    width: 20%;
                }
        }}
    }

    footer {
        padding: 2rem 6rem;
        .container {
            align-items: center;
            justify-content: center;
            grid-template-columns: 1fr;
            gap: 2rem;
        }
    }
}